.wrap {
    margin: auto;
    max-width: 640px;
    min-width: 400px;
    padding: 8px;
    width: 100%;
}

.tip-table {
    font-size: 14px;
    margin-bottom: 16px;
    table-layout: fixed;
    width: 100%;
}

.tip-table input {
    width: 100%;
}

.tip-table-employee {
    width: 50px;
}

.tip-table-delete {
    width: 24px;
}
